html,
body {

    height: 100%;
    width: 100%
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;

}

.container {

    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 90px minmax(60px,auto);
    grid-gap:5px;
}

header {

    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 5px;
    grid-row: 1/2;
    z-index: 2;
    background-color: #6e4fc1;
    color: #ffffff;
    grid-row:1/2;
}

#settings{
    
    text-decoration: none;
    color: #ffffff;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #777777;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
    font-size: 0.8rem;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 5px 7px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {
    background-color: #e6e4e4;
}

#logtext:hover .dropdown-content {
    display: block;
}

.logo {

    grid-column: 2/7;
    text-align: center;
    font-size: 1.9rem;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 5px;
}

nav {

    grid-column: 7/13;
    margin-top: 35px;
    font-size: 1rem;

}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 5px;
}

li {

    display: inline;
}

li:hover {

    color: #c9c9c9;
    cursor: pointer;
}

.logo h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    margin-top: 6px;
    grid-column:1/6;
    word-break: break-all;
    
}


#signUp {

    grid-column: 2/5;
    text-align: center;

}

#logInbtn {

    grid-column: 5/8;
    text-align: center;
    
}

main {
    grid-column: 2/12;
    grid-row:2/3;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: #ffffff;
    height: 50px;
    border-top: 1px rgba(110, 79, 193, 0.5) solid;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#bookBtn {

    float: right;
    background-color: #6e4fc1;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-top: 4px;
    margin-right: 4px;
}

#bookBtn:hover{
   
    color: #6e4fc1;
    background-color: #adadad;
    cursor: pointer;
    
}



#price {
    float: left;
    margin:0;
    margin-left: 4px;
    font-size: 1rem;
    margin-top:12px;
}

.svg {
     box-shadow: none;
    width: 35px;
    height: 35px;
}

.icon-text {
    font-size: 0.8rem;
    padding-left: 5px;
}



.icons {
    display: inline-block;
    width: 40%;
}

.space {
    width: 100%;
    height:12px;
}

.svg-1 {
    box-shadow: none;
    width: 25px;
    height: 35px;
}

/*
.booking {
    
    grid-column: 1/13;
    background-color: white;
    min-height: 100%;
    z-index:10;
    
}
*/

.footerfix {
    grid-column: 1/13;
    grid-row: 3/4;
}

.booking {
    width: 100%;
    height: 100%;
    display: grid;
    
    
}









.book_modal {

    position: fixed;
    z-index: 4;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.book_content{
    position: relative;
    width: 80%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: aniTop;
    -webkit-animation-duration: 0.5s;
    animation-name: aniTop;
    animation-duration: 0.5s
}

.close,
.close1 {

    float: right;
    color: #000000;
    font-size: 1.6rem;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 5px;

    /*
    -webkit-animation-name: aniBTop;
    -webkit-animation-duration: 0.5s;
    animation-name: aniBTop;
    animation-duration: 0.5s
*/
}

.close:hover,
.close1:hover {
    text-decoration: none;
    opacity: 0.5;
    cursor: pointer;
}


@-webkit-keyframes aniTop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes aniTop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}



/*
@-webkit-keyframes aniBTop {
    from {top:0; opacity:1} 
    to {top:-300px; opacity:0}
}

@keyframes aniBTop {
    from {top:0; opacity:1}
    to {top:-300px; opacity:0}
}
*/


#login_heading,
#signup_heading {
    padding-top: 5px;
    text-align: center;
    margin-left: 35px;
}


.login_form,
.signup_form {
    padding: 15px;
}


input[type=text],
input[type=date] {
    width: 100%;
    padding: 6px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 100%;
    background-color: #6e4fc1;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem
}

input[type=submit]:hover {

    cursor: pointer;
    opacity: 0.8;
}

.errorMsg {
    display:none;
}

#headingErr {
    padding: 15px;
}




@media (min-width:768px){
    
    .logo{
        
        grid-column: 2/6;
        text-align: inherit;
    }
    
    
    
    .logo h1{
        
        font-size: 2.5rem;
    }
    
    nav{
        
        font-size: 1.8rem;
    }
    
    h2{
        
        font-size: 2.1rem;
    }
    
    p{
        
        font-size: 1.3rem;
    }
    
   footer {
        
        font-size: 1.2rem;
    }
    
    .dropdown-content{
        
        width: 100px;
        font-size:1.2rem
    }
    
        #signUp {
        grid-column: 3/6;
        text-align: center;
}
    
    #logInbtn {
        grid-column: 6/8;
        text-align: center;
    
}
    
    main h2{
        
        text-align: center;
    }
    
    main div{
        
        display: inline;
    }
    
    .icons{
        
        display: inline;
        
        padding-right: 150px;
    }
    
    h4{
        
        font-size:1.4rem;
    }
    
    .book_content {

    width: 40%;

}
    
    
}